*{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(196, 196, 196);
    text-align: center;
}
p{
    color: red;
    font-family: cursive;
    font-size: 1.2rem;
    
}
h1{
    color: red;
    font-family: cursive;
}